version: "3.7"

services:
  db:
    image: postgres:16
    container_name: django_tenants_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=django_tenants
      - POSTGRES_PASSWORD=django_tenants
      - POSTGRES_DB=django_tenants
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U django_tenants"]
      interval: 5s
      timeout: 5s
      retries: 5
  web:
    build: .
    command: gunicorn dts_test_project.wsgi:application --bind 0.0.0.0:8088
    container_name: django_tenants_web
    volumes:
      - .:/code
    ports:
      - "8088:8088"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_USER=django_tenants
      - DATABASE_PASSWORD=django_tenants
      - DATABASE_DB=django_tenants
      - DATABASE_HOST=db
  django-tenants-test:
    build: .
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/code
    command: ./run_tests_in_docker.sh
    environment:
      - POSTGRES_USER=django_tenants
      - POSTGRES_PASSWORD=django_tenants
      - DATABASE_USER=django_tenants
      - DATABASE_PASSWORD=django_tenants
      - DATABASE_DB=django_tenants
      - DATABASE_HOST=db
    stdin_open: true
    tty: true
  django-tenants-pgadmin:
    container_name: django_tenants_pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes:
      - ./pgadmin:/root/.pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    restart: unless-stopped

  redis:
    image: redis:6.0.10
    ports:
      - "6379:6379"

volumes:
  postgres_data:
